# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
system_search.txt
patch
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/themes/*/video
sites/default/tmp
