.mck-mt-0 { margin-top: 0 !important; }
.mck-mt-20 { margin-top: 20px !important; }
.mck-mt-40 { margin-top: 40px !important; }
.mck-mt-60 { margin-top: 60px !important; }

.mck-mb-0 { margin-bottom: 0 !important; }
.mck-mb-20 { margin-bottom: 20px !important; }
.mck-mb-40 { margin-bottom: 40px !important; }
.mck-mb-60 { margin-bottom: 60px !important; }

.mck-pt-0 { padding-top: 0 !important; }
.mck-pt-20 { padding-top: 20px !important; }
.mck-pt-40 { padding-top: 40px !important; }
.mck-pt-60 { padding-top: 60px !important; }

.mck-pb-0 { padding-bottom: 0 !important; }
.mck-pb-20 { padding-bottom: 20px !important; }
.mck-pb-40 { padding-bottom: 40px !important; }
.mck-pb-60 { padding-bottom: 60px !important; }
