.page-node-625 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-626 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-627 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-628 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-629 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-630 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-631 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a,
.page-node-719 .navigation-r3.default-logo-header .primary-navigation ul li:nth-last-child(2) a{
	background: #1F40E6;
	color: #fff;
	height: 54px;
	margin-top: 15px;
	line-height: 54px;
}